@import 'styles.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* mobile first */

#contact-image {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  padding: 0.5rem 0.5rem;
  border: 0.1rem solid var(--colourBgBlack);
  border-radius: 0.8rem; 
  width: 100%;

  > img {
    border-radius: 0rem; 
    height: auto;
    width: 100%;
    display: block;
  }
}

address {
    text-indent: 0.5rem auto;
    font-style: normal;

    #postal-address, #phonenumber, #mail {
        margin-bottom: 1rem;
    }

    a {
        color: var(--colourBgRed);
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: var(--colourBgBlack);
            cursor: pointer;
        }
    }
}

.form-wrapper {
    position: relative;
    border: 0.1rem solid var(--colourBgBlack);
    border-radius: 0.8rem;
    padding: 2rem 1.5rem 1rem;
    max-width: 31rem;
    display: block;

    h2 {
        position: absolute;
        top: -0.9rem;
        left: 1rem;
        background-color: white;
        padding: 0 0.5rem;               
        font-size: 1rem;
        font-weight:lighter;
        color: var(--colourBgBlack);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 0rem;

        div {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5rem;

            textarea {
                height: 6rem;
            }

            button {
                align-self: flex-start;
                border-radius: 1rem;
                margin-top: 0.5rem;
                padding: 0.25rem 1.55rem;
                font-family: var(--fontMain);
                font-size: 1.15rem;
                color: var(--colourBgBeige);
                background-color: var(--colourBgBlue);
            }
        }

        .person-label {
            max-width: 12%;
            width: fit-content;
        }        
    }
}


/* tablet */
@media (min-width: 700px) and (max-width: 1023px) {
  main > section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    max-width: 56rem;
    margin: 0 auto;
    align-items: flex-start;
  }

  #contact-image {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: 0.5rem 0.5rem;
    border: 0.1rem solid var(--colourBgBlack);
    border-radius: 0.8rem; 
    width: 100%;

    > img {
        border-radius: 0rem; 
        height: auto;
        width: 100%;
        display: block;
    }
  }

  address {
    font-size: 1rem;
    margin-bottom: 0.5rem;

    #postal-address, 
    #phonenumber, 
    #mail {
      margin-bottom: 1rem;
    }
  }

  .form-wrapper {
    max-width: 100%;
    margin: 0.5rem 0.5rem auto;
    padding: 2rem;

    h2 {
      font-size: 1.2rem;
    }

    form {
      gap: 0.5rem;

      div {
        margin-bottom: 0.8rem;
      }

      button {
        padding: 0.4rem 2rem;
        font-size: 1rem;
      }
    }
  }
}


/* desktop */
@media (min-width: 1024px) {
  main > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto; 
    gap: 2rem;
    max-width: 75rem;
    margin: 0 auto;
    align-items: start;
  }

  address {
    grid-column: 1;
    grid-row: 1;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .content {
    grid-column: 1;
    grid-row: 2;
  }

  .form-wrapper {
    max-width: 100%;
    margin-bottom: 5rem;
  }

   #contact-image {
    grid-column: 2;
    grid-row: 1 / span 2; 
    margin: 1rem auto;
    padding: 0.5rem 0.5rem;
    border: 0.1rem solid var(--colourBgBlack);
    border-radius: 0.8rem; 
    width: 100%;

    > img {
        border-radius: 0rem; 
        height: auto;
        width: 100%;
        display: block;
    }
  }
}







/* dialog {
    margin: 6rem auto;
    border: 4px solid var(--colourBgMain);
    border-radius: 1rem;

    > * {
        padding: 0.5 1rem;
    }

    header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    font-size: 1rem;
    color: var(--colourBgComplementary);
    background-color: var(--colourBgMain);

    button {
        font-size: 2rem;
      }
    }
} */

