@import 'variables.css';
@import 'styles.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* mobile first */

body {
  font-family: var(--fontMain);
  color: var(--colourText);
  background-color: var(--colourBg);
}

#menu {
    text-align: left;
    background-color: white;

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-card {
        background-color: var(--colourBgBeige);
        border-radius: 1.5rem;
        overflow: hidden;
        max-width: 100%;
        text-align: left;
        padding: 1rem;
        margin: 0.8rem auto;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 0.8rem;
    }

    h2 {
        margin: 0.5rem;
        font-family: var(--fontMain);
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--colourBgBlue);
        display: flex;
        flex-direction: row;
        justify-content: center;
        line-height: 2rem;
    }

    p {
        font-size: 0.95rem;
        margin: 0.5rem;
        line-height: 1.4;
    }

    button {
        cursor:pointer;
        font-weight: bold;
        color: var(--colourBgWhite);
        padding: 0.5rem 2rem;
        border: 0.3rem solid var(--colourBgDarkBeige);
        border-radius: 0.2rem;
        border-color: var(--colourBgDarkBeige);
    
        &:hover {
            background-color: var(--colourBgBlack);
        }
    }
}


/* tablet */
@media (min-width: 700px) and (max-width: 1023px) {
  #menu {
    .cards {
      display: grid;
      grid-template-columns: 1fr;
      max-width: 62rem;
      margin: 0 auto;
    }

    .menu-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-radius: 1rem;

      .menu-text {
        flex: 1;
        order: 1;

        h2 {
          font-size: 1.4rem;
          margin-bottom: 0.6rem;
          justify-content: left;
        }

        p {
          font-size: 1rem;
          margin-bottom: 0.8rem;
        }

        button {
          font-size: 1rem;
          padding: 0.5rem 1.5rem;
        }
      }

      img {
        width: 40%;
        height: auto;
        border-radius: 0.8rem;
        object-fit: cover;
        order: 2;
      }
    }
  }
}


/* desktop */
@media (min-width: 1024px) {
  #menu {
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
      max-width: 75rem;
      margin: 0 auto;
      padding: 2rem;
    }

    .menu-card {
      display: flex;
      align-items: left; 
      justify-content: space-between;
      gap: 2rem;
      margin: 0;
      padding: 1rem;
      background-color: var(--colourBgBeige);
      border-radius: 0.8rem;
      overflow: hidden;

      .menu-text {
        flex: 1;
        text-align: left;
        order: 1;

        h2 {
          font-size: 1.5rem;
          margin-bottom: 0.8rem;
          padding: 0rem;
          justify-content: left;
        }

        p {
          font-size: 1rem;
          line-height: 1.4;
          margin-bottom: 1rem;
        }

        button {
          padding: 0.6rem 2.5rem;
          font-size: 1rem;
          cursor: pointer;
          font-weight: bold;
          color: var(--colourBgWhite);
          border: 0.3rem solid var(--colourBgDarkBeige);
          border-radius: 0.2rem;

          &:hover {
            background-color: var(--colourBgBlack);
          }
        }
      }

      img {
        width: 55%;
        height: 50%;
        border-radius: 0.8rem;
        object-fit: cover;
        order: 2;
        margin-top: 3rem;
        margin-bottom: 2rem;
      }
    }

    #menu-card-dessert {
      margin-top: -1rem; 
    }
  }
}


