@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: var(--fontMain);

  > header,
  > footer {
    padding: 0.5rem 1rem;
    text-align: center;
    color: var(--colourBgComplementary);
    background-color: var(--colourBgSection);
  }

  > header {
    font-family: var(--fontTitle);
  }
}


nav {
  background-color: var(--colourBgNav);
  border-bottom: thick solid var(--colourBgSection);

  > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; 
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      text-align: center;
    }

    > li:not(:first-child) {
      border-top: 0.2rem solid var(--colourBgComplementary); 
    }

    > li > a {
      font-weight: bold;
      text-decoration: none;
      color: var(--colourBgComplementary);
      display: block;
      padding: 1rem;
    }
  }
}


main {
  padding: 0.5rem 1rem;

     > header {
        background-color: var(--colourBgMain);
        color: var(--colourBgTxt);
    }  
   
}

button {
  color: var(--colourBgMain);
  background-color: var(--colourBgTxt); 
  border-radius: 2.5rem;
}

#list {
    background-color: var(--colourBgMain);
    color: var(--colourBgTxt);
}

#list p {
    margin: 0.25rem 0;  /* lidt luft mellem linjerne */
}

#testimonial {
    background-color: var(--colourBgTestimonial);
    color: var(--colourBgBlack);
    border-radius: 0.8rem;
} 

@media (min-width: 768px) {
  nav > ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  nav > ul > li {
    border: none !important; /* fjern alle linjer her */
  }
}