@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Poppins&display=swap');

:root {
  --colourBgWhite: white;
  --colourBgDarkBeige: #ddca7d;
  --colourBgBlue: #0a369d;
  --colourBgRed: #dc2f02;
  --colourBgBeige: #f6f1d1;
  --colourBgGray: #d3d3d3;
  --colourBgBlack: #000;

  --fontTitle: 'Nunito', sans-serif;
  --fontMain: 'Open Sans', sans-serif;
  --fontTxt: 'Helvetica', sans-serif;
}